/* stile form */
form {
  width:70%;
  margin: 0 auto;
  border: 3px solid #f1f1f1;
}

/* stile inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* stile pulsante */
button {
  background-color: #3c589e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* quando passo con il mouse sopra il pulsante viene diminuita l'opacità di quest'ultimo */
button:hover {
  opacity: 0.8;
}

/* centra l'immagine all'interno del suo contenitore*/
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* stile immagine */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* aggiunge padding al contenitore */
.container {
  padding: 16px;
}